# Google Gemini (Free tier available at https://aistudio.google.com/app/apikey)
GOOGLE_GENERATIVE_AI_API_KEY=...

# For the LLM of your choice, e.g. OpenAI
OPENAI_API_KEY=...

# For Prisma
POSTGRES_URL=...

# For node-pg
PGUSER=...
PGPASSWORD=...
PGHOST=...
PGPORT=...
PGDATABASE=...
